<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dpu</property>
        <property name="hibernate.connection.username">root</property>
        <mapping class="dpu.beans.admin.CompanyBean"/>
        <mapping class="dpu.beans.admin.BillingLocationBean"/>
        <mapping class="dpu.beans.admin.TypeBean"/>
        <mapping class="dpu.beans.admin.CategoryBean"/>
        <mapping class="dpu.beans.admin.EquipmentBean"/>
        <mapping class="dpu.beans.admin.TerminalBean"/>
        <mapping class="dpu.beans.admin.StandardChargesBean"/>
        <mapping class="dpu.beans.admin.CustomBrokerBean"/>
        <mapping class="dpu.beans.admin.BorderAgentBean"/>
        <mapping class="dpu.beans.admin.AdditionalContactBean"/>
        <mapping class="dpu.beans.admin.PaymentTermsBean"/>
        <mapping class="dpu.beans.admin.SalesPersonBean"/>
    </session-factory>
</hibernate-configuration>