/** Navigation **/
#navigation {
    width: 89%;
    margin: 0 auto;
    display: block; 
    background: url('../images/bg-menu.png');
    height: 44px;
    padding: 0px 0 0px 0px;
    /*position: absolute;*/
    bottom: -20px;
    left: 0;

}
#navigation ul {

    background: url('../images/bg-menu.png') repeat-x;
    /*display: inline-block;*/
    border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    height: 40px;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 4px 0 3px;
}
#navigation ul li {
    float: left;
    font-size: 20px;
    line-height: 40px;
    margin: 0 5px;
    text-align: center;
    position: relative;
}
#navigation ul li.first {
    margin-left: 0;

}
#navigation ul li.selected {
    background-color: #b7c2c8;
}
#navigation ul li  a {
    color: #11478f;
    font-weight: bold;
    padding: 0 10px;
    text-decoration: none;

}
#navigation a:hover {

}
#navigation li:hover{
    background-color: #e3e79e;
    border-top-left-radius:  10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius:  10px;

    border-top-right-radius:  10px;
    -moz-border-top-right-radius:  10px;
    -webkit-border-top-right-radius:  10px;
}
div#navigation li:hover>div {
    visibility: visible;
}
div#navigation li div {
    /*list-style: none;*/
    /*float: left;*/
    position: absolute;
    z-index: 11;
    top: 36px;
    left: 0;
    visibility: hidden;
    padding: 0 ;
    background: none;
    /*margin: 0px 0 0 -5px;*/
    width: 170px;
    max-width: 170px;
    min-width: 170px;
}

#navigation ul li div ul {
    /*background: url('../images/bg-menu.gif') repeat-x;*/
    background: none;
    /*display: inline-block;*/
    /*border-top-right-radius:5px;*/
    /*-moz-border-top-right-radius:5px;*/
    /*height: 40px;*/
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    list-style: none;
    margin: 0;
    border-top-left-radius:  10px;

    /*padding: 4px 0 3px;*/
}
div#navigation ul li div   li{
    /*width: 187px;*/
    /*    max-width: 187px;*/
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    float:left;
    font-size: 16px;
    line-height: 40px;
    /*margin: 0 5px;*/
    text-align: left;
    position: relative;
    background: black;
    background-color: #b7c2c8;
    padding-left: 10px;


}
div#navigation ul li div   li:last-child{
    border-bottom-left-radius:  10px;
    -moz-border-bottom-left-radius:  10px;
    -webkit-border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
    -moz-border-bottom-right-radius:  10px;
    -webkit-border-bottom-right-radius:  10px;
}
div#navigation ul li div   li:hover {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;


}
div#navigation ul li div   li:last-child:hover {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-bottom-left-radius:  10px;
    -moz-border-bottom-left-radius:  10px;
    -webkit-border-bottom-left-radius:  10px;
    border-bottom-right-radius:  10px;
    -moz-border-bottom-right-radius:  10px;
    -webkit-border-bottom-right-radius:  10px;

}
div#navigation ul li div   li:hover>a {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
    background: url('../images/bg-menu.gif') repeat-x;
    padding:  10px;
    border:none;
    border-radius: 10px;
    -moz-border-radius: 10px;


}